/* import */

@import "../fonts/et-line-font.css";
@import "../fonts/font-awesome-4.7.0/css/font-awesome.css";
@import "../fonts/font-face.css";

/* body */

body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  width: 100%;
  background-image: url(../img/header/header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

header .nav-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 40px 5px;
  border-bottom: 1px solid #505369;
  transition: padding 0.6s ease-out;
}

header .nav-block {
  width: 100%;
}

header .scrolled {
  z-index: 10;
  position: fixed;
  background-color: #313454;
}

header .scrolled-wr {
  padding: 15px 5px;
  border-bottom: none;
  animation: fade 1s;
  transition: padding 0.5s ease-out;
}

header .nav-wrapper nav {
  float: right;
}

header .nav-wrapper nav>ul {
  padding-left: 0;
}

header .nav-wrapper nav>ul>li {
  float: left;
  margin-top: -2%;
  margin-left: 25px;
  font-family: 'ralewaybold';
  font-size: 13px;
  list-style-type: none;
}

header .nav-wrapper nav>ul>li>a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header .nav-wrapper nav>ul>li>a:hover {
  color: #dfdfdf;
}

header .nav-wrapper .show-nav-bt {
  display: none;
  float: right;
}

header .nav-wrapper .show-nav-bt:hover {
  cursor: pointer;
}

header .nav-wrapper .show-nav-bt>.fa {
  color: #fff;
  font-size: 24px;
}

header .nav-wrapper .shown-nav {
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20% 20px 0 0;
  background-color: #000;
  animation: showMenu 1s;
}

header .nav-wrapper .shown-nav>ul>li {
  float: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}

header .nav-wrapper .closer {
  display: none;
}

header .nav-wrapper .shown-nav>.closer {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
  font-size: 56px;
}

header .nav-wrapper .shown-nav>.closer:hover {
  cursor: pointer;
}

header .text-block {
  width: 70%;
  margin: 0 auto;
  padding: 150px 0;
  text-align: center;
  line-height: 71px;
}

header .text-block>h1 {
  width: 95%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-family: 'open_sansbold';
  font-size: 65px;
}

header .text-block>p {
  width: 99%;
  margin: 10px auto 50px;
  color: #fff;
  font-family: 'ralewayregular';
  font-size: 22px;
  line-height: 33px;
}

.bt {
  padding: 20px 40px;
  color: #fff;
  border-radius: 3px;
  background-color: #e84545;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'ralewaysemibold';
  font-size: 13px;
  transition: background-color 0.5s ease-out;
}

.bt:hover {
  background-color: #cb3939;
}

/* main */

/* features */

.ftrs {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 70px 0;
  flex-wrap: wrap;
}

.ftrs .feature {
  width: 33.33%;
  margin-top: 50px;
  text-align: center;
  transition: .5s ease;
}

.ftrs .feature>i {
  color: #e84545;
  font-size: 60px;
}

.ftrs .feature>h4 {
  text-transform: uppercase;
  font-family: 'ralewaybold';
  font-size: 14px;
}

.ftrs .feature>p {
  width: 95%;
  color: #6c7279;
  font-family: 'ralewayregular';
  font-size: 14px;
  line-height: 21px;
}

/* works */

.container-works * {
  transition: .5s ease;
}

.container-works {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cont-item {
  position: relative;
  width: 25%;
  height: 350px;
  overflow: hidden;
  outline: 1px solid #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #e84545;
}

.cont-item:hover {
  cursor: pointer;
}

.cont-item:hover .overlay {
  opacity: 0.9;
}

.cont-item:hover img {
  transform: scale(1.2);
}

.overlay-text {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  opacity: 0;
  text-align: center;
  font-size: 14pt;
  line-height: 0px;
  transform: translate(0, -50%);
}

.overlay-text>h5 {
  padding-bottom: 50px;
  font-family: 'ralewaybold';
}

.overlay-text>span {
  font-family: 'ralewayregular';
}

.overlay-text>h5, .overlay-text>span {
  display: block;
  text-align: center;
}

.cont-item:hover .overlay-text>h5 {
  padding-bottom: 0px;
}

.cont-item:hover .overlay-text {
  opacity: 1;
}

.modal {
  z-index: 50;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal>.wrapper {
  padding-top: 100px;
  text-align: center;
}

.modal>.wrapper>img {
  width: 70%;
  border: 15px solid #fff;
  animation-duration: 0.7s;
  animation-name: fade;
}

.modal>.wrapper>.closer {
  position: absolute;
  top: -5%;
  right: 2%;
  color: #fff;
  font-size: 8em;
}

.modal>.wrapper>.closer:hover {
  cursor: pointer;
}

/* team */

.team-block {
  display: flex;
  width: 85%;
  margin: 105px auto 90px;
  flex-wrap: wrap;
}

.team-block .team-member {
  width: 23%;
  margin-right: 25px;
  font-family: 'ralewayregular';
}

.team-block .team-member:last-child {
  margin-right: 0;
}

.team-block .team-member>img {
  width: 100%;
  height: auto;
}

.team-block .team-member>h4 {
  margin-top: 30px;
  margin-bottom: 5px;
  color: #2d3033;
  font-size: 22px;
}

.team-block .team-member>.post {
  margin-bottom: 15px;
  color: #e84545;
  text-transform: uppercase;
  font-size: 13px;
}

.team-block .team-member>p {
  color: #6c7279;
  font-size: 14px;
  line-height: 22.4px;
}

.social-media-block {
  display: table;
  margin: 15px auto;
}

.social-media-block .fa {
  width: 36px;
  float: left;
  margin-right: 3px;
  padding: 8px 0;
  color: #c6cacc;
  border: 1px solid #e8ecee;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s ease;
}

.social-media-block .fa:hover {
  color: #fff;
  border-color: #e84545;
  background-color: #e84545;
}

/* clients */

.clients-block .chosen-client, .clients-block .client {
  animation: fade 1s ease-out;
}

.clients-block .client {
  display: none;
  height: auto;
  height: 285px;
  overflow: hidden;
  flex-wrap: wrap;
}

.clients-block .chosen-client {
  display: flex;
}

.clients-block .client>.photo {
  width: 50%;
  overflow: hidden;
}

.clients-block .client>.photo>img {
  width: 100%;
  height: auto;
  margin: auto;
}

.clients-block .client>.quote {
  width: 50%;
  margin-top: -5px;
  padding: 25px 0;
  color: #fff;
  background-color: #53354a;
}

.clients-block .client>.quote>blockquote {
  font-family: 'cardoitalic';
  font-size: 36px;
  line-height: 42px;
}

.clients-block .client>.quote>blockquote>.author {
  float: right;
  text-transform: uppercase;
  font-family: 'ralewaybold';
  font-size: 13px;
}

.clients-block .slider-btns {
  margin-top: 10px;
  text-align: center;
}

.clients-block .slider-btns>.slider-btn {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  border: 1px solid #bababa;
  border-radius: 50%;
}

.clients-block .slider-btns>.active-slider-btn, .clients-block .slider-btns>.slider-btn:hover {
  background-color: #bababa;
  cursor: pointer;
}


/* download */

.download-block {
  width: 100%;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

.download-block h5 {
  margin: 20px;
  color: #505254;
  font-family: 'ralewaylight';
  font-size: 28px;
  line-height: 30px;
}

.download-block p {
  display: block;
  margin-bottom: 25px;
  color: #2d3033;
  text-transform: uppercase;
  font-family: 'ralewaybold';
  font-size: 13px;
}

.download-block .bt-dwnd {
  display: inline-block;
  padding: 20px 80px;
}

/* footer */

footer {
  background-color: #3a3e64;
}

footer .info-block {
  display: flex;
  width: 75%;
  margin: auto;
  padding: 30px 0;
  flex-wrap: wrap;
}

footer .info-block>.info-item {
  width: 33%;
  text-align: center;
}

footer .info-block>.info-item>h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'ralewaybold';
  font-size: 13px;
}

footer .info-block>.info-item>p {
  color: #9d9fb2;
  font-family: 'ralewayregular';
  font-size: 14px;
}

footer .copyright-block {
  width: 100%;
  padding: 10px 0;
  color: #808080;
  background-color: #313454;
  text-align: center;
  font-family: "ralewayregular";
  font-size: 14px;
}

footer .copyright-block a {
  color: #fff;
  text-decoration: none;
}

footer .copyright-block a:hover {
  text-decoration: underline;
}


/* keyframes */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showMenu {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 0;
  }
}

/* media */

@media screen and (max-width: 1150px) {
  .cont-item, .ftrs .feature {
    width: 50%;
  }
  .team-block .team-member {
    width: 46%;
    text-align: center;
  }
  .team-block .team-member>img {
    width: auto;
  }
  .modal>.wrapper>img {
    width: 90%;
  }
  .modal>.wrapper>.closer {
    top: 2%;
    right: 1%;
    font-size: 5em;
  }
  .clients-block .client {
    height: auto;
  }
  .clients-block .client>.photo, .clients-block .client>.quote {
    width: 100%;
  }
  .clients-block .client>.photo>img {
    width: 100%;
    height: auto;
  }
  .ftrs, .team-block, footer .info-block>.info-item, footer .info-block, header .text-block, header .text-block>h1 {
    width: 100%;
  }
  header .nav-wrapper .show-nav-bt {
    display: block;
  }
  header .nav-wrapper nav {
    display: none;
  }
  header .nav-wrapper {
    width: 95%;
    transition: none;
  }
  header .scrolled-wr {
    animation: none;
    transition: none;
  }
}

@media screen and (max-width: 768px) {
  .cont-item, .ftrs .feature, .team-block .team-member {
    width: 100%;
  }
  .ftrs .feature>p, .team-member {
    display: inline-table;
  }
  .ftrs .feature {
    margin-top: 0;
  }
  .modal>.wrapper>.closer {
    top: 5%;
    font-size: 3em;
  }
  .clients-block .client>.quote>blockquote {
    font-size: 20px;
    line-height: 28px;
  }
  .clients-block .client>.quote>blockquote>.author {
    font-size: 10px;
  }
  .clients-block .client>.quote {
    padding: 10px 0;
  }
}
